/*Colour Palette
Light blue: #E8FAFF;
Blue: #437DB7;
*/
@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	text-size-adjust: 100%;
	font-family: 'Lato', sans-serif;

}		
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
	background-color: #E8FAFF;
}
h3{
	width: 111.6%;
	background-color: #437DB7;
	text-align: center;
	padding: 0.7em;
    margin-left: -6%;
    margin-bottom: 0;
    margin-top: 9px;
    color: white;
	font-family: 'Lato', sans-serif, bold;
	font-size: 2rem;
	clear: both;
}
main{
	padding:0;
}
img{
	width: 100%;
	display: block;
}
strong {
	font-family: 'Lato', sans-serif, normal;
}
.top {
	position: relative;

}
.top p{
	color: white;
	text-align: left;
	font-family: 'Lato', sans-serif, light;
	margin: 0 auto;
	width: 100%;
	text-shadow: 4px 4px 10px black;
	max-width: 25rem;
	padding: 1rem;
}
.story p{
	text-align: center;
	display: inline-block;
	padding: 0.5rem;
	padding-bottom: 0;
}
.contacts img{
	display: inline-block;
	width: 24%;
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding-left: .1rem;
	padding-right: .1rem;
}
.bg4contacts{
	background-image: url(../images/bg-contacts.jpg);
	margin: 0 auto;
	padding: calc(2em + 20vw) 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 100%
}
footer {
  	padding-bottom: 1.5rem;
  	padding-top: 1.5rem;

  	font-size: 0.75rem;
  	text-align: center;
}
footer p{
	color: #437DB7;
	font-family: 'Lato', sans-serif, light;
	font-size: 16px;
}
footer a{
	font-size: 12px;
}
footer img {
	width: 20%;
	margin: 0 auto;
}
/*MEDIA INQUIERIES TIME*/
@media only screen and (min-width: 240px) { /*Small Screen*/
	h3 {
		font-size: 20px;
	}
	.top p{
		font-size: 18px;
	}
	.story p{
		text-align: center;
		display: inline-block;
		padding: 0.5rem;
		font-size: 14px;
	}
}
	
@media only screen and (min-width: 600px) { /*Medium Screen*/
	h3 {
		text-align: left;
		margin-left: 0%;
		font-size: 25px;
	}
	.top p{
		font-size: 25px;
	}
	.story p{
		text-align: left;
		display: inline-block;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 18px;
	}
	.floatleft{
		display: inline-block;
		float: left;
  		margin-bottom: 1rem;
  		width: 50%;
	}
	.floatright{
		display: inline-block;
		float: right;
  		margin-bottom: 1rem;
  		width: 50%;
	}
	.bg4contacts{
		background-image: url(../images/bg-contacts.jpg);
		margin: 0 auto;
		padding: calc(2em + 0vw) 0 153px;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		display: block;
		width: 100%
	}
}
@media only screen and (min-width: 800px) { /*Medium-Large Screen*/
	h3 {
		text-align: left;
		margin-left: 0%;
		font-size: 35px;
}
@media only screen and (min-width: 1000px) { /*Large Screen*/
	h3 {
		text-align: left;
		margin-left: 0%;
		font-size: 50px;
	}
